# Core dependencies
streamlit
torch
pandas
Pillow
ultralytics
opencv-python
matplotlib>=3.2.2
numpy>=1.18.5
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1  # Google Colab version
torchvision>=0.8.1
tqdm>=4.41.0
protobuf<4.21.5  # https://github.com/ultralytics/yolov5/issues/8012
ultralytics
